inventory
.env
*/inventory
vars/
.ssh/
ansible/hosts.csv
ansible/outputs/

#terraform
.terraform/
.terraform.lock.hcl
terraform/prod.tfvars

home/.ash_history
home/.bash_history
home/terraform
home/packer
home/.config
home/.cache
home/.terraform.d


