version: "3.4"
services:
  poste:
    image: analogic/poste.io
    restart: always
    network_mode: "host"
    expose:
      - 25
      - 80
      - 110
      - 143
      - 465
      - 587
      - 993
      - 995
      - 4190
    volumes:
      - /data/mnt/mail:/data
    environment:
      - HTTPS=ON
      - DISABLE_CLAMAV=TRUE
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M