server {
	listen 9090 {%if item.default_server %}default_server{% endif %};

	root /var/www/html/{{ item.domain }};
	server_name {{ item.domain }} {% if item.aliases is defined %}{% for alias in item.aliases %}{{ alias }} {% endfor %}{% endif %};

	location / {
		proxy_pass http://0.0.0.0:{{ item.port }}/;
		proxy_set_header   Host $host;
		proxy_set_header   X-Real-IP  $remote_addr;
		proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header   X-Forwarded-Proto https;
		proxy_set_header   X-Forwarded-Host $host;
	}
	{% if item.locations is defined %}
	{% for location in item.locations %}
	location {{ item.path }} {
		proxy_pass http://0.0.0.0:{{ item.port }}{{ item.path }}/;
		proxy_set_header   Host $host;
		proxy_set_header   X-Real-IP  $remote_addr;
		proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header   X-Forwarded-Proto https;
		proxy_set_header   X-Forwarded-Host $host;
	}
	{% endfor %}
	{% endif %}
}